body {
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 5px;
  background-image: url("../img/bg_calcularoda_instagram.png");
  background-size: cover;
  background-attachment: fixed;
  /* background-position-y: -70px;*/
}

.img{
  padding-top: 10px;
  margin: 10px;
  text-align: center; 
    
}

h1 {
  font-size: 20px;
  text-align: center;  
  color: #fff;
  font-weight: bold;
}

h3 {
  font-size: 25px;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 420px;  
  padding-bottom: 1px;
  margin: auto;
  background-color: #833ab4;
  border-radius: 12px;  
  box-shadow: 0 0 10px #fff;
  }

#resultado {
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

#taxa {
  align-items: center;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
}

/*Retira as setas dos inputs*/
div.container input::-webkit-inner-spin-button { 
  display: none;
}

#calcular {
  background-color: #E1306C;
  border: none;  
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
  border: auto;
  float: left;
}

#limparCampos {
  background-color: #F77737;
  border: none;  
  box-shadow: 0 0 10px #fff;
  border-radius: 5px;
  border: auto;  
  float: right;
}

.bloco {
  color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 20;
  background-color: #C13584;
  border-radius: 5px;
  box-shadow: 0 0 10px #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.label-form {
  color: #fff;
}

.footer {
  color: #fff;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}